<p style="color: green"><%= notice %></p>

<div class="container">

  <h1>Restaurant</h1>

  <%= render @restaurant %>

  <div>
    <%= link_to "Back to restaurants", restaurants_path %>
  </div>

   <div>
    <%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
  </div>

</div>
